<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <button id="fetchButton">Fetch Data</button>
    <div id="data"></div>
</body>
<script>
    function fetchData(url) {
        $.ajax({
            url: url,
            type: 'GET',
            success: function(data) {
                console.log(data);
                var html = '';
                for (var i = 0; i < data.length; i++) {
                    html += '<div>';
                    html += '<h2>' + data[i].name + '</h2>';
                    html += '<img src="' + data[i].imageUrl + '" alt="' + data[i].name + '">';
                    html += '<p>Stock: ' + data[i].stock + '</p>';
                    html += '<p>Price: ' + data[i].price + '</p>';
                    html += '<p>Size: ' + data[i].size + '</p>';
                    html += '<p>Condition: ' + data[i].condition + '</p>';
                    html += '</div>';
                }
                $('#data').html(html);
            },
            error: function() {
                console.log('Error');
            }
        });
    }

    $('#fetchButton').on('click', function() {
        //fetchData('http://localhost:8080/buyer/listing');
        fetchData('http://buysell.fashionpedia.my.id/buyer/listing');
    });
</script>
</html>