{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashionpedia | Manage Your Listings</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style type="text/tailwindcss">
    @layer components {
      * {
        @apply box-border;
      }
      .btn-primary {
        @apply bg-black hover:bg-gray-800 text-white rounded-lg cursor-pointer;
      }

      .btn-secondary {
        @apply bg-white hover:bg-gray-50 border border-black rounded-lg text-black cursor-pointer ;
      }
      tbody td, thead th {
        @apply py-2 px-4 text-start
      }

      .nav-paging {
        @apply h-8 w-8 flex justify-center items-center rounded-full hover:bg-gray-100 border
      }

      .selected {
        @apply bg-black hover:!bg-gray-700 !text-white
      }

      .dropdown-button {
        @apply flex w-full justify-center items-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50
      }

      .dropdown-item {
        @apply w-full text-start  hover:bg-gray-100 hover:text-gray-900 block px-4 py-2 text-sm
      }

      .dropdown-menu-container {
        @apply absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
      }

      .filter-status-button {
        @apply py-1 px-4 rounded-xl hover:bg-gray-100
      }

      .status-chip {
        @apply px-4 py-1 rounded-full
      }

      .status-chip-menunggu_pembayaran {
        @apply bg-yellow-200 text-yellow-800
      }

      .status-chip-menunggu_proses {
        @apply bg-yellow-200 text-yellow-800
      }

      .status-chip-diproses {
        @apply bg-blue-200 text-blue-800
      }

      .status-chip-dikirim {
        @apply bg-blue-200 text-blue-800
      }

      .status-chip-selesai {
        @apply bg-green-200 text-green-800
      }

      .status-chip-dibatalkan {
        @apply bg-red-200 text-red-800
      }
    }
  </style>
</head>

<body class="bg-gray-100">
  <main class="w-full min-h-screen flex flex-row px-4 py-8 2xl:container mx-auto gap-4">
    {% include 'components/seller_sidebar.html' %}
    <section class="min-w-[800px] w-full bg-white rounded-3xl p-8 relative">
      <div class="flex flex-row justify-between">
        <h1 class="text-3xl font-semibold">Orders</h1>
        <div id="search-bar" class="flex bg-gray-100 pr-4 rounded-xl overflow-clip">
          <button id="search-button" class="h-full bg-gray-300 aspect-square rounded-l-xl">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <input type="text" name="search" id="search-input" placeholder="Search order by id..."
            class="bg-gray-100 placeholder-gray-600 p-2 active:outline-none focus:outline-none">
        </div>
      </div>
      <div class="flex justify-between mt-4">
        <div class="flex gap-x-2">
          <button data-status="all" class="filter-status-button">All</button>
          <button data-status="menunggu_pembayaran" class="filter-status-button">Menunggu Pembayaran</button>
          <button data-status="menunggu_proses" class="filter-status-button">Menunggu Proses</button>
          <button data-status="diproses" class="filter-status-button">Diproses</button>
          <button data-status="dikirim" class="filter-status-button">Dikirim</button>
          <button data-status="selesai" class="filter-status-button">Selesai</button>
          <button data-status="dibatalkan" class="filter-status-button">Dibatalkan</button>
        </div>
        <div id="sort-by-wrapper" class="relative inline-block text-left">
          <button type="button" class="dropdown-button" id="dropdown-sort" aria-expanded="false" aria-haspopup="true">
            Sort By <span id="sort-value"></span>
            <i class="fa-solid fa-chevron-down text-gray-500"></i>
          </button>
          <div class="dropdown-menu-container hidden" role="menu" aria-orientation="vertical"
            aria-labelledby="dropdown-sort" tabindex="-1">
            <div class="py-1 text-gray-700" role="none">
              <button class="dropdown-item sort-by-button" role="menuitem" data-sort="updatedAt-DESC">
                <span>Newest</span>
              </button>
              <button class="dropdown-item sort-by-button" role="menuitem" data-sort="updatedAt-ASC">
                <span>Oldest</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div id="order-container" class="my-8">
        
      </div>
      <div
        class="absolute bottom-0 left-0 bg-white w-full h-16 flex items-center justify-between px-4 rounded-3xl shadow-2xl ring-1 ring-black ring-opacity-10">
        <span>Showing 1 to 10 of 20 results</span>
        <div class="flex gap-x-2">
          <a href="#" class="nav-paging border"><i class="fa-solid fa-chevron-left"></i></a>
          <a href="#" class="nav-paging selected">1</a>
          <a href="#" class="nav-paging">2</a>
          <a href="#" class="nav-paging">3</a>
          <a href="#" class="nav-paging border"><i class="fa-solid fa-chevron-right"></i></a>
        </div>
      </div>
    </section>
  </main>
  <script src="https://kit.fontawesome.com/154556051d.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/seller_order.js' %}" type='module'></script>
  <script src="{% static 'js/dropdown.js' %}" type='module'></script>
  <script src="{% static 'js/searchbar.js' %}" type='module'></script>
</body>

</html>